.about{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width:var(--absoluteWidth);
    height: var(--absoluteHeight);
    /* min-height: 100%; */
}
.about .about-grid{
    display: flex;
    flex-direction: column-reverse;
}
.about-grid-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-grid-right{
    margin: 0;
}
.about .about-grid .about-grid-left .about-text{
    width: var(--width);
    height: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-family:'Macondo';
    hyphens: auto;
    padding: .5rem;
    background-color: var(--bgColorOverlay);
    --primaryColor: rgb(74, 22, 2);
    line-height: 1.4;
    margin-top: .1rem;
    font-size: 1.2rem;
}
.about .about-grid .about-grid-right .img-grid{
    margin-top: .2rem;
    background-image: url(../img/woman.png);
    background-repeat: no-repeat;
    background-position: 100% right;
    background-size: cover;
    width: 100%;
    height: 400px;
    padding: .9rem;
    box-shadow: .3rem .1rem rgb(57, 38, 2);
}
