@media screen and (max-width: 480px) {}
@media screen and (min-width: 481px) and (max-width: 834px) {
    .account .account-grid{
        width: fit-content;
        display: grid;
        justify-content: center;
        padding: .5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
   .account-type,
.internet-banking {
  background-color: rgb(76, 4, 76);
  width: fit-content;
  margin: 0.5rem 0px;
  padding: 0.5rem;
  width: 400px;
  height: fit-content;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.2rem rgb(228, 215, 215);
  position: relative;
  overflow: hidden;
  color: wheat;
}

.account-type::before,
.internet-banking::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(156, 10, 10);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.account-type:hover::before,
.internet-banking:hover::before {
  transform: translateX(0);
  color: black;
  font-weight: var(--fw);
  z-index: 1;
}

.account-type h3:hover,
.internet-banking h3:hover {
  color: black;
}

    .account-type h3,
    .internet-banking h3{
        font-size: 2rem;
    }


}