@media screen and (max-width: 480px) {}

@media screen and (min-width: 481px) and (max-width: 834px) {

    /*ContactPage Stylesheet */
    #pitch-box {
        width: 500px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .contact-pitch {
        width: var(--width);

    }

    .icon-grid {
        height: 250px;
    }

    .icon-container::before {
        padding: .3rem;
        font-size: var(--fs);
    }

    .icon-container:hover::before {
        transform: translateY(0);
    }

    .icon {
        font-size: 3rem;
        margin-bottom: .9rem;
    }

    .icon-container:hover .icon {
        transform: translateY(-50px);
        opacity: 0.2;
    }

    /* Specific styles for each icon type */
    .phone {
        color: #007bff;
    }

    .email {
        color: #28a745;
    }

    .whatsapp {
        color: #25D366;
    }

    .facebook {
        color: #3b5998;
    }

    .twitter {
        color: #1DA1F2;
    }

}