@media screen and (max-width: 480px) {
    .login-dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
      
      .dropdown {
        position: relative;
      }
      
      .dropdown-button {
        background-color: #f0f0f0;
        border: none;
        padding: 10px;
        cursor: pointer;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f0f0f0;
        width: 80%;
        max-width: 200px;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      input {
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      
}