@media screen and (max-width: 480px) {}


@media screen and (min-width: 481px) and (max-width: 834px) {
      .dropdown {
        position: relative;
      }
      
      .dropdown-button {
        font-size: 2rem;
        padding: .5rem;
        width: 400px;
      }
      .dropdown-content button{
        padding: .7rem;
        font-size: 1.5rem;
      }
      .dropdown-content button:hover{
        font-weight: var(--fwThin);
      }
      input {
        margin-top: 1.5rem;
        padding: 1rem;
        border-radius: .5rem;
        width: 300px;
        height: 50px;
        font-size: 1.5rem;
        font-weight: var(--fwThin);
      }
      .back{
        font-size: 2rem;
      }

}