@media screen and (max-width: 480px){}

@media screen and (min-width: 481px) and (max-width: 834px){
.open_account h1 {
    font-size: 1.2em;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 1rem;
    text-align: center;
}


form {
    width: 80%;
    margin: 0 auto;
    height: fit-content;
    overflow: hidden;
}

.open_account .inputbox {
    height: 70px;
    margin: 1.9rem 0px;
}

.open_account .inputbox input {
    padding: .6rem;
    border-radius: .3rem;
    font-size: 1.5rem;
}

  .open_account .inputbox input[type="submit"]:hover::before {
    left: 0;
  }

.open_account .inputbox span {
    font-size: 1.5rem;
}

.open_account .inputbox input:focus~span,
.open_account .inputbox input:valid~span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1rem;
    font-weight: var(--fwThin);
}
.back{
    font-size: 2rem;
  }

}